{% extends 'layout.html' %}
{% block content %}
{% if posts is defined %} <!-- checks if there are posts -->
{% for post in posts.items %}
<article class="media content-section">
	<img class="rounded-circle article-img"
		 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
	<div class="media-body">
		<div class="article-metadata">
<!--			TODO ***** if user is current_user replace link with edit_profile link -->
			<a class="mr-2" id="username" href="{{ url_for('users.user_profile', username=post.author.username) }}">{{
				post.author.username }}</a>
			<!-- displays date in Y-m-d format-->
			<small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
			<!--			<small class="text-muted">{{ moment(post.date_posted).fromNow() }}</small>-->
		</div>
		<!-- anchor tag goes to post route and passes post_id as an argument (passing the id of the selected post) -->
		<h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
		{% if post.content|length > 400 %}
		<p class="article-content">{{ post.content | truncate(400)| safe}}</p> <!-- safe filter is for HTML escaping-->
		<a class="btn btn-outline-info mb-4" href="{{ url_for('posts.post', post_id=post.id) }}">Read more </a>
		{% else %}
		<p class="article-content">{{ post.content}}</p>
		{% endif %}

	</div>

</article>
{% endfor %}

<!-- For showing the page number links at the bottom of the posts -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}

{% else %} <!-- if there are no posts -->
<h2 class="ui center aligned icon header">
	<i class=" edit icon"></i>
	No Posts Yet
</h2>
{%endif %}
{% endblock content %}

{% block side_bar %}
<div class="side-menu">
	<div class="ui vertical menu fluid" wfd-id="184">
		<div class="item" wfd-id="189">
			<form method="get" action="" class="ui action input" wfd-id="50">
				<input type="text" placeholder="Search..." name="query" wfd-id="222">
				<button class="ui icon button" wfd-id="255">
					<i class="search icon"></i>
				</button>
			</form>
		</div>

		<div class="item" wfd-id="187">
			<h5>Posts</h5>
			<div class="menu" wfd-id="188">
				{% if current_user.is_authenticated %}
				<p><a class="item" href="{{ url_for('posts.new_post') }}">Create New Post</a></p>
				<p><a class="item" href="{{ url_for('users.user_profile',username=current_user.username) }}">View
					My Posts</a></p>
				{% else %}
				<p class="item">To be confirmed...</p>
				<p class="item">To be confirmed...</p>
				{% endif %}
			</div>
		</div>

		<div class="item">
			<h5>Trending</h5>
			<div class="menu" wfd-id="188">
				<a href="#" class="item">Trending posts here</a>
			</div>
		</div>

		<div class="item">
			<h5>Most Viewed</h5>
			<div class="menu" wfd-id="188">
				<a href="#" class="item">Most viewed posts here</a>
			</div>
		</div>

		<div class="item">
			<h5>Tags</h5>
			<div class="menu" wfd-id="188">
				<div class="ui three column grid" wfd-id="226" id="tags-menu">

					{% for tag in tags %}
					<div class="column" wfd-id="229"><a href="#" class="ui tag label">{{ tag.name }}</a></div>
					{% endfor %}

				</div>

			</div>
		</div>

	</div>
</div>
{% endblock side_bar %}
